{% extends 'layout.html' %}

{% block body %}

<!-- Header Start -->
<div class="container-fluid header bg-primary p-0 mb-5">
    <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
        <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
            <h1 class="display-4 text-white mb-5">Annual International Congress on Computer Science</h1>
            <div class="row g-4">
                <div class="col-sm-4">
                    <div class="border-start border-light ps-4">
                        <h2 class="text-white mb-1" data-toggle="counter-up">500</h2>
                        <p class="text-light mb-0">Registration Capacity</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="border-start border-light ps-4">
                        <h2 class="text-white mb-1" data-toggle="counter-up">10</h2>
                        <p class="text-light mb-0">Topic</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="border-start border-light ps-4">
                        <h2 class="text-white mb-1" data-toggle="counter-up">20</h2>
                        <p class="text-light mb-0">Awards & Grants</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <div class="owl-carousel header-carousel">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/carousel-1.jpg') }}" alt="">
                    <div class="owl-carousel-text">
                        <h1 class="display-1 text-white mb-0">Cardiology</h1>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/carousel-2.jpg') }}" alt="">
                    <div class="owl-carousel-text">
                        <h1 class="display-1 text-white mb-0">Neurology</h1>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/carousel-3.jpg') }}" alt="">
                    <div class="owl-carousel-text">
                        <h1 class="display-1 text-white mb-0">Pulmonary</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- President's Welcome Start -->
<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
    <h3>President's Welcome</h3>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end"
                        src="{{ url_for('static', filename='img/about-1.jpg') }}" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p style="text-align: justify;">
                    Welcome to the Annual International Congress on Computer Science(AICCS). It is my great pleasure to
                    invite you to this premier event where the brightest minds in Computer Science converge to share
                    their insights, innovations, and advancements. As we gather experts, researchers, and industry
                    leaders from around the world, AICCS stands as a beacon of excellence, fostering collaboration and
                    driving the future of our field. I encourage you to take full advantage of the rich program we have
                    prepared, and I look forward to the meaningful exchanges and groundbreaking ideas that will emerge
                    from this congress. Together, let’s shape the future of Computer Science.
                </p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Quality health care</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Only Qualified Doctors</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Medical Research Professionals</p>
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- President's Welcome End -->


<!-- Publication of Congress Papers Start -->
<div class="container-xxl py-5">
    <div class="container"></div>
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h3>Publication of Congress Papers</h3>
        </div>
    </div>
</div>
<!-- Publication of Congress Papers End -->

<!-- Congress Scope Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1000px;">
            <h3>Congress Scope</h3>
            <p>We are excited to announce the upcoming Annual International Congress on Computer Science, a gathering dedicated to the exploration and advancement of engineering solutions. This congress serves as a platform for experts, innovators, and enthusiasts in the field of Computer Science to exchange knowledge, ideas, and insights.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 30px; height: 5px;">
                        <i class="fa fa-heartbeat text-primary fs-4"></i>
                    </div>
                    <h5 class="mb-3">Cardiology</h5>
                    <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam
                        sed stet.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 30px; height: 5px;">
                        <i class="fa fa-x-ray text-primary fs-4"></i>
                    </div>
                    <h5 class="mb-3">Pulmonary</h5>
                    <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam
                        sed stet.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 30px; height: 5px;">
                        <i class="fa fa-brain text-primary fs-4"></i>
                    </div>
                    <h5 class="mb-3">Neurology</h5>
                    <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam
                        sed stet.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 30px; height: 5px;">
                        <i class="fa fa-wheelchair text-primary fs-4"></i>
                    </div>
                    <h5 class="mb-3">Orthopedics</h5>
                    <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam
                        sed stet.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 30px; height: 5px;">
                        <i class="fa fa-tooth text-primary fs-4"></i>
                    </div>
                    <h5 class="mb-3">Dental Surgery</h5>
                    <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam
                        sed stet.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 30px; height: 5px;">
                        <i class="fa fa-vials text-primary fs-4"></i>
                    </div>
                    <h5 class="mb-3">Laboratory</h5>
                    <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam
                        sed stet.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Congress Scope End -->


<!-- Congress Stream Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1000px;">
            <h3>Congress Stream</h3>
            <p>Congress topics are not limited to the following items only and encompass all subjects related to Computer Science</p>
        </div>
        <div class="row g-4">
            <!-- AI and ML -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-light rounded p-4">
                    <h5 class="text-primary mb-4">1. Artificial Intelligence and Machine Learning</h5>
                    <div class="ms-3">
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Deep Learning and Neural Networks</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Natural Language Processing (NLP)</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Computer Vision</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>AI Ethics and Applications</p>
                    </div>
                </div>
            </div>
            <!-- Cybersecurity -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="bg-light rounded p-4">
                    <h5 class="text-primary mb-4">2. Cybersecurity and Privacy</h5>
                    <div class="ms-3">
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Network Security</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Cryptography and Data Privacy</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Security in IoT and Cloud</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Ethical Hacking and Threat Intelligence</p>
                    </div>
                </div>
            </div>
            <!-- Networks -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-light rounded p-4">
                    <h5 class="text-primary mb-4">3. Computer Networks and Distributed Systems</h5>
                    <div class="ms-3">
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Wireless Networks and 5G</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Network Protocols and Architectures</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Cloud and Edge Computing</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Internet of Things (IoT)</p>
                    </div>
                </div>
            </div>
            <!-- Software Engineering -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="bg-light rounded p-4">
                    <h5 class="text-primary mb-4">4. Software Engineering and Development</h5>
                    <div class="ms-3">
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Agile and DevOps</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Software Architecture and Design</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Testing, Automation, and Quality Assurance</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Microservices and Cloud-Native Applications</p>
                    </div>
                </div>
            </div>
            <!-- Big Data -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-light rounded p-4">
                    <h5 class="text-primary mb-4">5. Big Data and Data Analytics</h5>
                    <div class="ms-3">
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Data Mining and Machine Learning Applications</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Real-Time Analytics and Stream Processing</p>
                    </div>
                </div>
            </div>
            <!-- HCI -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="bg-light rounded p-4">
                    <h5 class="text-primary mb-4">6. Human-Computer Interaction (HCI)</h5>
                    <div class="ms-3">
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>User Experience (UX) Design</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Virtual and Augmented Reality (VR/AR)</p>
                    </div>
                </div>
            </div>
            <!-- Robotics -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="bg-light rounded p-4">
                    <h5 class="text-primary mb-4">7.Robotics and Autonomous Systems</h5>
                    <div class="ms-3">
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>User Experience (UX) Design</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Virtual and Augmented Reality (VR/AR)</p>
                    </div>
                </div>
            </div>
            <!-- Quantum Computing -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="bg-light rounded p-4">
                    <h5 class="text-primary mb-4">8. Robotics and Autonomous Systems</h5>
                    <div class="ms-3">
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>User Experience (UX) Design</p>
                        <p><i class="fa fa-angle-double-right text-primary me-2"></i>Virtual and Augmented Reality (VR/AR)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Congress Stream End -->

<!-- Why Choose Us Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h3>Why Choose Us?</h3>
            <p class="d-inline-block border rounded-pill py-1 px-4">A choice that makes the difference.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 220px; height: 60px;">
                        <i class="fa fa-heartbeat text-primary fs-4"></i>
                    </div>
                    <h5 class="mb-3">Publication in Top Journals</h5>
                    <p class="mb-4">Present your research at AICCS and gain the opportunity to have your work published in some of the most prestigious international journals in Computer Science.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 220px; height: 60px;">
                        <i class="fa fa-x-ray text-primary fs-4"></i>
                    </div>
                    <h5 class="mb-3">Membership in Associations</h5>
                    <p class="mb-4">All participants receive complimentary membership in renowned Computer Science associations, enhancing your professional network and access to resources.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 220px; height: 60px;">
                        <i class="fa fa-brain text-primary fs-4"></i>
                    </div>
                    <h5 class="mb-3">Workshops and Seminars</h5>
                    <p class="mb-4">Attend high-quality, free workshops and seminars led by industry experts, designed to enhance your skills and keep you at the forefront of Computer Science advancements..</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 220px; height: 60px;">
                        <i class="fa fa-trophy text-primary fs-4"></i>
                    </div>
                    <h5 class="mb-3">Recognition and Awards</h5>
                    <p class="mb-4">AICCS offers prestigious awards that recognize outstanding research and innovations. Winning an award enhances your visibility within the global Computer Science community.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 220px; height: 60px;">
                        <i class="fa fa-globe text-primary fs-4"></i>
                    </div>
                    <h5 class="mb-3">Extensive Networking Opportunities</h5>
                    <p class="mb-4">Connect with a global community of professionals, researchers, and industry leaders through various networking events, roundtable discussions, and social gatherings.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 220px; height: 60px;">
                        <i class="fa fa-vials text-primary fs-4"></i>
                    </div>
                    <h5 class="mb-3">Career Advancement</h5>
                    <p class="mb-4">Leverage the congress’s resources, including mentorship programs and career development sessions, to advance your trajectory and gain a competitive edge in the industry.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why Choose Us End -->

{% endblock %}